<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        div{
            display: flex;
            width: 100%;
            height: 70vh;
            justify-content: center;
            align-items: center;

        }
        button{
            font-family: sans-serif;
            padding: 5px;
            height: 30px;
            margin: 10px;
            background-color: rgb(6, 146, 6);
            border:none;
            border-radius: 20px;
            font-size: medium;
            color:white;

        }
        form{
            display: flex;
            flex-direction: column;
            height: fit-content;
        }
        input{
            font-size: medium;
            font-family: sans-serif;
            border-radius: 25px;
            padding: 5px;
            border: 2px solid black 
        
        }
        button:hover{
            background-color: rgb(3, 110, 3); 
        }
    </style>
</head>
<body>
    <div>
        <form method="post">
                <input type="password" name="newpassword" placeholder="Enter new password">
            <button type="submit">Reset</button>
        </form>
    </div>
</body>
</html>